* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
.container{
    max-width: 1211px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}